[submodule "Nano/syntax_files"]
	path = Nano/syntax_files
	url = git@github.com:scopatz/nanorc.git
[submodule "Sublime/2/sftp_servers"]
	path = Sublime/2/sftp_servers
	url = git@bitbucket.org:sheharyar/sublimesftp-servers.git
[submodule "Zsh/Plugins/zsh-syntax-highlighting"]
	path = Zsh/Plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
