<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>bandit</key>
			<dict>
				<key>date</key>
				<date>2025-05-30T09:54:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bandit</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>bandit</string>
				</dict>
			</dict>
			<key>bodyguard</key>
			<dict>
				<key>date</key>
				<date>2025-02-14T00:41:24Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bodyguard</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>bodyguard</string>
				</dict>
			</dict>
			<key>credo</key>
			<dict>
				<key>date</key>
				<date>2025-04-17T05:57:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>credo</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>credo</string>
				</dict>
			</dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2025-06-12T05:51:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>ecto_sql</key>
			<dict>
				<key>date</key>
				<date>2025-02-14T00:43:04Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto_sql</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto_sql</string>
				</dict>
			</dict>
			<key>faker</key>
			<dict>
				<key>date</key>
				<date>2025-02-14T00:43:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>faker</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>faker</string>
				</dict>
			</dict>
			<key>heroicons</key>
			<dict>
				<key>date</key>
				<date>2025-02-14T00:41:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>heroicons</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>heroicons</string>
				</dict>
			</dict>
			<key>inflex</key>
			<dict>
				<key>date</key>
				<date>2025-02-14T00:43:27Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>inflex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>inflex</string>
				</dict>
			</dict>
			<key>live_charts</key>
			<dict>
				<key>date</key>
				<date>2025-02-14T00:40:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>live_charts</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>live_charts</string>
				</dict>
			</dict>
			<key>nebulex</key>
			<dict>
				<key>date</key>
				<date>2025-05-02T06:51:19Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nebulex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>nebulex</string>
				</dict>
			</dict>
			<key>oban</key>
			<dict>
				<key>date</key>
				<date>2025-03-26T06:33:46Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>oban</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>oban</string>
				</dict>
			</dict>
			<key>oban_met</key>
			<dict>
				<key>date</key>
				<date>2025-05-07T06:39:35Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>oban_met</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>oban_met</string>
				</dict>
			</dict>
			<key>oban_web</key>
			<dict>
				<key>date</key>
				<date>2025-04-22T05:57:53Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>oban_web</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>oban_web</string>
				</dict>
			</dict>
			<key>petal_components</key>
			<dict>
				<key>date</key>
				<date>2025-03-27T06:33:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>petal_components</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>petal_components</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2025-05-07T06:39:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>phoenix_ecto</key>
			<dict>
				<key>date</key>
				<date>2025-05-06T06:39:34Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_ecto</string>
				</dict>
			</dict>
			<key>phoenix_html</key>
			<dict>
				<key>date</key>
				<date>2025-02-21T21:02:34Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_html</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_html</string>
				</dict>
			</dict>
			<key>phoenix_live_dashboard</key>
			<dict>
				<key>date</key>
				<date>2025-04-29T06:26:52Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_live_dashboard</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_live_dashboard</string>
				</dict>
			</dict>
			<key>phoenix_live_view</key>
			<dict>
				<key>date</key>
				<date>2025-06-05T01:02:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_live_view</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_live_view</string>
				</dict>
			</dict>
			<key>plug</key>
			<dict>
				<key>date</key>
				<date>2025-05-29T05:15:13Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug</string>
				</dict>
			</dict>
			<key>plug_crypto</key>
			<dict>
				<key>date</key>
				<date>2025-04-04T01:48:16Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug_crypto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug_crypto</string>
				</dict>
			</dict>
			<key>req</key>
			<dict>
				<key>date</key>
				<date>2025-03-22T00:49:19Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>req</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>req</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>ash_oban</key>
			<dict>
				<key>date</key>
				<date>2025-02-14T00:40:43Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ash_oban</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ash_oban</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:52:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:52:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:52:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:52:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emmet.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:52:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:52:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:52:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:54:17Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_3.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_8.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2025-02-13T06:53:54Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<false/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<false/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
</dict>
</plist>
