<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.shyr.jellyfin-mpv-shim</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-c</string>
      <string>-l</string>
      <string>jellyfin-mpv-shim</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/shyr.io/jellyfin-mpv-shim/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/shyr.io/jellyfin-mpv-shim/stderr.log</string>
</dict>
</plist>
